<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @home.item %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @home.amount %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
